:root {
    --color-0: #121212;
    --color-1: #1f1f1f;
    --color-2: #f0f0f0;
    --color-3: #b9b9b9;
    --color-4: #8d8d8d;
    --container-width: 55vw;
    --default-container-padding: 40px 0;
    --default-transition: 0.2s;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-0);
    color: var(--color-2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    height: 75px;
    background: var(--color-1);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: var(--color-2);
    text-decoration: none;
    transition: var(--default-transition);
}

a:hover {
    color: var(--color-3);
    transition: var(--default-transition);
}

p {
    color: var(--color-4);
    line-height: 23px;
}

.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
    padding: var(--default-container-padding);
}

.nav-link {
    margin: 0 10px;
    font-weight: bold;
}

.texto-do-card {
    width: 60%;
}

#foto-perfil {
    width: 130px;
    border-radius: 70px;
}

#sobre {
    padding-top: 120px;
}