:root {
    --color-0: #212529;
    --color-1: #adb5bd;
    --color-2: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}