@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
	--color-0: #121212;
	--color-1: #1f1f1f;
	--color-2: #f0f0f0;
	--color-3: #b9b9b9;
	--color-4: #8d8d8d;
	--color-5: #c02525;
	--color-6: #991c1c;
	--container-width: 90vw;
	--default-container-padding: 30px 0;
	--default-border-radius: 10px;
	--default-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
	--default-transition: 0.2s;
}

* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	background: var(--color-0);
	color: var(--color-3);
}

a, #logo span {
	text-decoration: none;
	color: var(--color-2);
	transition: var(--default-transition);
}

a:hover, #logo:hover span {
	color: var(--color-4);
	transition: var(--default-transition);
}

h1 {
	color: var(--color-2);
	font-size: 32px;
	display: inline-block;
	width: 100%;
}

header {
	width: 100vw;
	height: 75px;
	background: var(--color-1);
	box-shadow: var(--default-box-shadow);
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a {
	margin-left: 15px;
}

.conteudo-do-header {
	width: var(--container-width);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#logo {
	cursor: pointer;
	display: flex;
	align-items: center;
}

#logo img {
	border-radius: 50px;
	margin-right: 10px;
}

.container-principal {
	width: var(--container-width);
	margin: 80px auto;
}

#sobre {
	height: 100vh;
	background: url(img/background-secao-sobre.webp) center fixed no-repeat;
	display: flex;
	align-items: center;
}

#texto-sobre {
	width: 60vw;
	margin: 0 auto;
	text-align: center;
}

#texto-sobre p {
	margin: 20px 0;
}

#botoes-redes-sociais a {
	font-size: 32px;
	margin: 0 5px;
	color: var(--color-5);
	transition: var(--default-transition);
}

#botoes-redes-sociais a:hover {
	color: var(--color-6);
	transition: var(--default-transition);
}

.img-do-projeto {
	width: 700px;
}